@import '../custom/variables';

$primary-font-custom: "Damion-regular";
$primary-font-extension: "ttf";

$secondary-font-custom: "Damion-regular";
$secondary-font-extension: "ttf";

$font-title: '';
$font-text: '';

$body-bg-start: #f8f9fe;
$body-bg-end: #f8f9fe;
$body-fonts: #525f7f;
